<header>
   
     <div class="pre-header">
        Free delivery on orders over $100
    </div>
        
     <nav>
                        <img src="assets/logo-ds.png" alt="brand logo RADA quality apparel" class="logo">
                        <div class="ham">
                            <i class="bi bi-list"></i>
                        </div>
                        <ul>
                            <li><i class="bi bi-search"></i></li>
                            <li><i class="bi bi-person"></i></li>
                            <li><i class="bi bi-bag"></i></li>

                        </ul>
       </nav>


   
